@page
@{
    Layout = null;
    ViewData["Title"] = "测试";
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HWeb</title>
    <link href="~/wwwroot/lib/extjs620/theme/theme-classic-all.css" rel="stylesheet" />
    <link href="~/wwwroot/css/app.css" rel="stylesheet" />
</head>
<body>
    <script src="~/wwwroot/lib/extjs620/ext-all.js"></script>
    <script src="~/wwwroot/lib/extjs620/locale-zh_cn.js"></script>
    <script src="~/wwwroot/lib/extjs620/theme/theme-classic.js"></script>
    <script src="~/wwwroot/js/app.js" asp-append-version="true"></script>
</body>
</html>